body{
    /*background-color: black;*/
    margin:0;
    padding:0;
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000046 , #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000046 , #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
#headimg1{
    height: 600px;
}
.align-items-end {
    align-items: flex-end!important;
    height: 637px;
    padding-left: 38px;
}

img#headimg1 {
    height: 695px;
}
img.card-img-top {
    height: 338px;
    padding: 10px 7px;
    border-radius: 33px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    height: 214px;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-left: 26px;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.6667%;
    padding-left: 70px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    background: #000000d0;
    border-radius: 7px;
    text-align: center;
}
.bg-primary {
    background-color: rgb(2, 26, 63) !important;
}
.h6, h6 {
    font-size: 1.25rem;
    background:#000000d0 ;
    border-radius: 10px;
    padding: 11px;
    
}
.card-text:last-child {
    margin-bottom: 0;
    background: #000000d0;
    border-radius: 8px;
    padding: 8px;
    margin-left: 6px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 10px 10px;
    /* border: 3px solid white; */
    margin: 7px;
    border-radius: 22px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color:rgb(2, 26, 63) ;

}

.p-3 {
    padding: 1rem!important;
}
.p-3:hover{
    padding: 1rem!important;
    /* border:4px solid black; */
    height: 238px;
    transform: scale(1.05);
}